@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  h1 {
    margin-top: 20px;
    color: white;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .choice {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .choice img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 5px;
  }
  
  .choice:hover {
    background-color: #d9d9d9;
  }
  
  #result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white; 
    padding: 10px;
  }
  
  /* Animation */
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
  }
  .shake {
    animation: shake 0.5s ease-in-out;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .choice {
      font-size: 3vw; /* Adjust as needed */
    }
  }
  
  
  /* Rules button */
  
  .rules-button {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  
  .rules-button:hover {
    background-color: #0056b3;
    text-decoration: none;
  }